

.gradle/
.gradle/**
!gradle/
!gradle/**

/.idea/
build/
docs/
server/

# ALLOW ONLY THESE FOLDERS
!.github/
!.github/**
!src/
!src/**
!gradlew
!gradlew.bat
!settings.gradle.kts

# ALLOW .gitignore ITSELF
!.gitignore
/checkui
