# IGNORE EVERYTHING
*

# ALLOW ONLY THESE FOLDERS
!src/
!src/**

!.gradle/
!.gradle/**
!gradle/
!gradle/**

!.idea/
!.idea/**

!.github/
!.github/**
!gradlew
!gradlew.bat
!settings.gradle

# ALLOW .gitignore ITSELF
!.gitignore